*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.btn{
    height: 44px;
    background-color: #30b868;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; 
    border-radius: 5px;  
    cursor: pointer;
    padding: 12px;
}
.btn2{
    width: 164px;
    height: 44px;
    /* background-color: #30b868; */
    background: transparent;
    border: 0.5px solid white;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; 
    border-radius: 5px;  
    cursor: pointer;
}
.btn2:hover{
    color: #30b868;
}
.btn:hover{
    background-color: grey;
}
/* Main Style */
nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
}
nav .logo{
    margin-left: 120px;
    width:139px;
    height:60px;
    padding: 16px;
}
nav .links {
    display: flex;
    list-style-type: none;
    gap:32px ;
    padding: 34px 346px;
}
nav .links a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.button{
    padding:24px 120px 24px 0px;
}
#hero .banner-button{
    color: #30b868;
    background-color: #ffffff;
    font-size: 16px;
    width: 229px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 16px;
}
#hero {
    background-image: url(/Resources/assets/hero-bg.png);
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#hero .banner-text{
    text-align: center;
    max-width: 1360px;
    height: 379px;
    margin: 0 auto;
}
#hero .banner-text h1{
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
}
#hero .banner-text h1 div{
    color: #30b868;
}
#hero .banner-text p ,#t1{
    color: #ffffff;
    font-size: 18px;
    font-weight:normal;
    margin-top: 16px;
}
#hero .banner-text .butt{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 32px;
}